@import url('https://fonts.googleapis.com/css2?family=Eagle+Lake&family=Poppins:wght@300;400;600&display=swap');

:root{

    --paragraph: 20px;
    --title-paragraph-card: 14px;

    --title: 55px;
    --subtitle: 45px;
    --content: 16px;

    --bold: 600;
    --medium:400;
    --light: 300;
}
