.container-services{
  width: 100%;
  height:auto;
  background-color: var(--red-light);
  padding: 100px 0px;
}
.container-services .box-services{
  width: 65%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:  0px auto;
}
.container-services .box-services .subtitle{
  color: var(--title-subtitle);
  font-size: var(--sub-title-section);
  font-weight:  var(--light);
  padding: 0px 0px 100px;
}
.container-services .box-services .cards-services{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.container-services .box-services .cards-services .items{
  width:278px;
  height:450px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: var(--letter-cta-demo);
  margin: 0px 20px;
}
.container-services .box-services .cards-services .items .item{
  width: 70px;
  height: 70px;
}
.container-services .box-services .cards-services .items .subtitle-software{
  color: var(--title-subtitle);
  font-size: var(--sub-title);
  font-weight:  var(--medium);
  margin: 50px 0px 30px;
}
.container-services .box-services .cards-services .items .paragraph{
  color: var(--title-content);
  font-size: var(--content);
  font-weight:  var(--medium);
  justify-content: center;
  text-align: center;
  margin: 0px 20px 0px 20px;
}
