/* Rectangle 1 */


position: absolute;
width: 1440px;
height: 194px;
left: 0px;
top: 0px;

background: #FFE8E8;


/* PRODUCTO */


position: absolute;
width: 110px;
height: 30px;
left: 781px;
top: 84px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
/* identical to box height */


color: #000000;



/* SERVICIO */


position: absolute;
width: 89px;
height: 30px;
left: 945px;
top: 84px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
/* identical to box height */


color: #000000;



/* SOPORTE */


position: absolute;
width: 89px;
height: 30px;
left: 1082px;
top: 84px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
/* identical to box height */


color: #000000;



/* CONTACTO */


position: absolute;
width: 112px;
height: 30px;
left: 1219px;
top: 84px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
/* identical to box height */


color: #000000;



/* REGISTER */


position: absolute;
width: 88px;
height: 30px;
left: 1245px;
top: 25px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
/* identical to box height */


color: #000000;



/* logo 2 */


position: absolute;
width: 35.95px;
height: 35.95px;
left: 102.02px;
top: 80.15px;

background: url(logo.png);
transform: rotate(-0.29deg);


/* Mercurio */


position: absolute;
width: 210px;
height: 65px;
left: 131px;
top: 65px;

font-family: 'Eagle Lake';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 65px;

color: #DA2E29;



/* user 2 */


position: absolute;
width: 27px;
height: 27px;
left: 1176px;
top: 25px;

background: url(user.png);
